.Admin{
    border: 1px solid black;
    display: flex;
    background-image: url(../Image/shop4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    border: 1px solid;
    width: 20%;
}
.two{
    border: 1px solid;
    width: 80%;
}
.Welcome{
    border: 1px solid red;
    display: flex;
}
.time{
    border: 1px solid;
    margin-left: 70%;
}
.Malbar{
    border: 1px solid;
    text-align: center
}
.MalabarMenu{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold

}
.Rates{
    border: 1px solid;
    padding: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}

h5{
    text-align: center;
}
.price{
    border: 1px solid;
    background-color: gray;
    margin: 0px 10px 0px 10px;
    text-align: center;
    padding: 10px ;
}
.two{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
#ManageOrderMain{
    border: 5px solid red;
    margin: 10px;
    width: 100%;   
}
.ManageOrderA{
    display: flex;
    flex-direction: row;
    border: 1px solid;
}
.h2{
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 90%;
}
.ManageOrderA3{
    background-color: black;
    color: red;
    height: 20%;
    width: 5%;
    text-align: center;
}
label{
    font-size: medium;
    font-weight: bold;
    
}
.ManageOrderB{
    background-color: lightgrey;
}
table,tr,td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    font-size: small;
    
}
.viewmain{
    background-color: lightsalmon;
    height: 300px;
}
.view>fieldset>legend>table,tr,th,td{
    border: 1px solid;
    background-color: lightgrey;
    border-collapse: collapse;
    text-align: center;
    font-size: large;
}
td{
    height: 40px;
}
.foot{
    background-color: lightgoldenrodyellow;
}
.foot>button{
    height: 50px;
    background-color: lightblue;
    width: 100px;
    margin-right: 200px;
}
.MalabarMenu{
    border: 1px solid;
   
   box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;

}
ul{
    list-style-type: none;
}
ul li{
    width: 140px;
    height: 60px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: #000;
    display: block;
}
ul li a:hover{
    background-color: #0cd2f3;
    transition: 1s all ease;
}
ul li ul li{
    
    background-color: #fff;
    
    width: 200px;
    
    position: relative;
    left: 100px;
    text-align: center;
    display: none;

}
ul li:hover ul li {
    display: block;
}